* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
    color: oklch(56.138% 0.09155 186.22 / 0.705);
    /* color: #fff; */
    padding: 15px;
    padding-top: 25px;
}

.grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;
    margin-top: 20px;
    
}

.caixaGeral{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 380px;
    margin: 30px;
    border: solid 1px grey;
    border-radius: 12px;
    text-align: left;
}

.infos {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 20px;
}

.amigos {
    height: 85px;
    width: 96px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    border: solid 1px grey;
    padding-top: 5px; 
    transition: 0.3s ease-in-out;
}


.amigos h3 {
    font-size: 30px;
    color: #000;
    margin: 0;
}

.amigos p {
    font-size: 20px;
    color: #333;
    margin-top: 5px;
}

.caixaConvite{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 320px;
    width: 450px;
    margin: 30px;
    border: solid 1px grey;
    border-radius: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.convites {
    border: solid 1px grey;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 15px;    
}

.aceitar{
    padding: 5px;
    border: solid 2px rgb(49, 107, 235);
    border-radius: 30px;
    color: rgb(49, 107, 235);
    transition: 0.3s ease-in-out;
}

.verMais{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    color: rgb(49, 107, 235);
    cursor: pointer;
    border: solid 2px rgb(49, 107, 235);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: 0.3s ease-in-out;
}

.palavraAmigos{
    padding: 20px;
}

.areaAmigos{
    height: 300px;
    width: 550px;
    margin: 40px;
    color: #fff;
    background-color: #68ac92; 
    border-radius: 20px;
}

.usuarios{
    padding: 5px;
    padding-left: 9px;
    border: solid 1px #fff;
}