* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
    color: oklch(56.138% 0.09155 186.22 / 0.705);
    /* color: #fff; */
    padding: 15px;
    padding-top: 25px;
}

.grupo {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 20px;
  
}

.caixaGeral{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 380px;
    margin: 30px;
    border: solid 1px grey;
    border-radius: 12px;
    text-align: left;
}

.infos {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 20px;
  
}

.amigos {
    height: 85px;
    width: 96px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    border: solid 1px grey;
}

.amigos h3 {
    font-size: 30px;
    color: #000;
    margin: 0;
}

.amigos p {
    font-size: 20px;
    color: #333;
    margin-top: 5px;
}

.convites{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 450px;
    margin: 30px;
    border: solid 1px grey;
    border-radius: 12px;
    text-align: left;
}