.menu a:hover{
    color: rgb(54, 54, 54);
    font-size: 19px;
}
.fotoProfissao {
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.fotoProfissao:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 8px black;
}

::selection{
    background-color: white;
    color: oklch(56.138% 0.09155 186.22 / 0.705);
}

#enviar:hover {
  background-color: #93a8c4;
}

.quiz-option:hover {
  background-color: #93a8c4;
}

#closeBtn:hover {
  color: red;
}

.social-icons a:hover {
  color: #fff;
  transform: scale(1.1);
}

#botao:hover{
  background-color: oklch(56.138% 0.09155 186.22 / 1);
  transform: scale(1.1);

}

#btnRecomendar:hover {
  background-color: #1449db98;
  transform: scale(1.1);
}

#btnMensagem:hover {
  background-color: #9c68ac;
  transform: scale(1.1);
}