.menu a:hover{
    color: rgb(54, 54, 54);
    font-size: 19px;
}
.fotoProfissao {
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.fotoProfissao:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 8px black;
}

::selection{
    background-color: white;
    color: oklch(56.138% 0.09155 186.22 / 0.705);
}

#enviar:hover {
  background-color: #93a8c4;
}

.quiz-option:hover {
  background-color: #93a8c4;
}

#closeBtn:hover {
  color: red;
}

.social-icons a:hover {
  color: #fff;
  transform: scale(1.1);
}

#botao:hover{
  background-color: oklch(56.138% 0.09155 186.22 / 1);
  transform: scale(1.1);

}

#btnRecomendar:hover {
  background-color: #1449db98;
  transform: scale(1.1);
}

#btnMensagem:hover {
  background-color: #9c68ac;
  transform: scale(1.1);
}

.sobreNos {
    animation: crescer 1.5s 1;
}

@keyframes crescer{
    0% {opacity: 0;
    transform: translateY(30px);}
    100% {opacity: 1;}
}
.tabelas {
    animation: subindo 2s 1;
}

@keyframes subindo{
    0% {opacity: 0;
    transform: translateY(30px);}
    100% {opacity: 1;}
}

div section input[type="text"]:hover{
  width: 900px;
  height: 40px;
  border: solid rgba(134, 124, 124, 0.822);
}

div section input[type="text"]:focus{
  width: 930px;
  height: 45px;
  transition: 0.5s ease-in-out;
}


.amigos:hover{
    transform: scale(1.05);
}

.aceitar:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: #fff;
    background-color: rgb(49, 107, 235);
    

}
.aceitar:active{
    transform: scale(1);
}

.verMais:hover{
    color: #fff;
    background-color: rgb(49, 107, 235);
}

#envio:hover{
    background-color: rgb(49, 107, 235);
    color: #fff;
    border: 0px;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.texto::first-letter{
    font-size: 25px;
    color: rgb(92, 92, 92);
}

#botao2:hover{
  transform: scale(1.1);
}