* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.perfil-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    height: 700px;
    width: 700px;
    margin: 40px auto;
    text-align: center;
    padding: 30px;
}

#nome{
    font-size: 40px;
    color: oklch(56.138% 0.09155 186.22 / 0.705);
    padding-top: 20px;
}

#img{
    margin-top: 20px;
    
}

#descricao{
    color: grey;
    font-size: 20px;
    margin-top: 20px;
}

#skills{
    /* color:  oklch(56.138% 0.09155 186.22 / 0.705); */
    color: #fff;
    background-color: oklch(56.138% 0.09155 186.22 / 0.705);
    border-radius: 4px;
    padding: 7px;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    
}

#envio{
    width: 150px;
    background-color: rgb(179, 179, 179);
    font-size: 15px;
    border: solid 1px black;
    /* margin: 30px; */
}

#envio:hover{
    background-color: rgb(49, 107, 235);
    color: #fff;
    border: 0px;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

